[package]

name = "x86_64"
version = "0.1.0"
authors = [
  "Gerd Zellweger <mail@gerdzellweger.com>",
  "Eric Kidd <git@randomhacks.net>",
  "Philipp Oppermann <dev@phil-opp.com>",
  "Dan Schatzberg <schatzberg.dan@gmail.com>",
  "John Ericson <John_Ericson@Yahoo.com>",
  "Rex Lunae <rexlunae@gmail.com>"
]

description = "Provides x86_64 specific functions and data structures, and access to various system registers."

repository = "https://github.com/phil-opp/x86_64"
documentation = "https://docs.rs/x86_64"
readme = "README.md"
keywords = ["amd64", "x86", "x86_64", "no_std"]
license = "MIT"

[[test]]
name = "no_std_build"
harness = false

[dependencies]
bit_field = "0.7.0"
