name: Build

on:
  push:
    branches:
      - '*'
      - '!staging.tmp'
    tags:
      - '*'
  schedule:
    - cron: '40 4 * * *'   # every day at 4:40
  pull_request:

jobs:
  test:
    name: "Test"

    strategy:
      matrix:
        platform: [
          ubuntu-latest,
          macos-latest,
          windows-latest
        ]

    runs-on: ${{ matrix.platform }}
    timeout-minutes: 15

    steps:
    - name: "Checkout Repository"
      uses: actions/checkout@v1

    - name: Install Rustup
      run: |
        curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --default-toolchain nightly
        echo ::add-path::$HOME/.cargo/bin
      if: runner.os == 'macOS'

    - name: Echo PATH
      run: echo $PATH
      shell: bash

    - name: Set Rustup profile to minimal
      run: rustup set profile minimal

    - name: "Print Rust Version"
      run: |
        rustc -Vv
        cargo -Vv

    - name: Cache binaries
      id: cache-bin
      uses: actions/cache@v1
      with:
        path: binaries
        key: ${{ runner.OS }}-binaries-0
    - name: Add binaries/bin to PATH
      run: echo ::add-path::$GITHUB_WORKSPACE/binaries/bin

    - name: "Run cargo build"
      run: cargo build

    - name: "Run cargo test"
      run: cargo test

    - name: 'Deny Warnings'
      run: cargo build --features deny-warnings

    - name: "Install Rustup Targets"
      run: |
        rustup target add i686-unknown-linux-gnu
        rustup target add thumbv7em-none-eabihf
    - name: 'Build on non x86_64 platforms'
      run: |
        cargo build --target i686-unknown-linux-gnu
        cargo build --target thumbv7em-none-eabihf

    - name: "Install Rustup Components"
      run: rustup component add rust-src llvm-tools-preview
    - name: "Install cargo-xbuild"
      run: cargo install cargo-xbuild --debug --root binaries
    - name: "Install bootimage"
      run: cargo install bootimage --debug --root binaries

     # install QEMU
    - name: Install QEMU (Linux)
      run: |
        sudo apt update
        sudo apt install qemu-system-x86
        cp /usr/bin/qemu-system-x86_64 binaries/bin
      if: runner.os == 'Linux' && steps.cache-bin.outputs.cache-hit != 'true'
    - name: Install QEMU (macOS)
      run: |
          brew install qemu
          cp /usr/local/bin/qemu-system-x86_64 binaries/bin
      if: runner.os == 'macOS' && steps.cache-bin.outputs.cache-hit != 'true'
      env:
        HOMEBREW_NO_AUTO_UPDATE: 1
        HOMEBREW_NO_BOTTLE_SOURCE_FALLBACK: 1
        HOMEBREW_NO_INSTALL_CLEANUP: 1
    - name: Install Scoop (Windows)
      run: Invoke-Expression (New-Object System.Net.WebClient).DownloadString('https://get.scoop.sh')
      if: runner.os == 'Windows' && steps.cache-bin.outputs.cache-hit != 'true'
      shell: pwsh
    - name: Add scoop shims to PATH
      run: echo ::add-path::$HOME\scoop\shims
      if: runner.os == 'Windows'
    - name: Install QEMU (Windows)
      run: |
        scoop install qemu
        cp $HOME/scoop/shims/qemu-system-x86_64.exe binaries/bin
      if: runner.os == 'Windows' && steps.cache-bin.outputs.cache-hit != 'true'
      shell: pwsh

    - run: which qemu-system-x86_64
    - name: "Print QEMU Version"
      run: qemu-system-x86_64 --version

    - name: "Run Test Framework"
      run: cargo xtest
      working-directory: 'testing'

  check_formatting:
    name: "Check Formatting"
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
    - uses: actions/checkout@v1
    - name: Set Rustup profile to minimal
      run: rustup set profile minimal
    - name: "Add a rustup override for rustfmt nightly"
      uses: actions-rs/toolchain@v1
      with:
          toolchain: nightly
          components: rustfmt
          override: true
    - run: rustup component add rustfmt
    - run: cargo fmt -- --check
