name: Release

on:
  push:
    branches:
      - "master"

permissions:
  contents: read

jobs:
  release:
    name: "Release"
    runs-on: ubuntu-latest
    permissions:
      contents: write
    timeout-minutes: 15
    environment: crates_io_release

    steps:
      - name: "Checkout Repository"
        uses: actions/checkout@v6

      - name: "Run release script"
        run: "python scripts/ci-release.py"
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
